.navbar-header {
  width: 85% !important;
}
.navbar-form {
  padding: 1%;
}
.navbar-form .form-group {
  width: 85%;
}
.navbar-form .input-group {
  width: 70% !important;
}

.navbar-form .form-group .navbar-text{
  float: right;
  margin: 1%;
}
.navbar-form .input-group-addon {
  cursor: pointer;
}
.navbar-form input {
  width: 100% !important;
}
